.cellDirection {
  position: relative;
}

.cellHeader {
  text-align: center;
  font-size: 8pt;
}

.cellLong {
  width: 3in;
  font-weight: bold;
}

.cellSingle {
  background-color: #edeae5;
  border: 1px solid #FFFFFF;
  height: 1in;
  text-align: center;
}

.cellSmall {
  width: 1in;
}

.containersContainer {
  position: relative;
}

.dirArrow {
  position: absolute;
  width: 100%;
}

.dirVal {
  position: relative;
}

.green {
  background-color: #37be75;
  color: #fff;
}

.highlight {
  background-color: grey !important;
}

.popupH1 {
  font-size: 30px;
  font-weight: bold;
}

.popupH2 {
  font-size: 20px;
}

.red {
  background-color: #920000;
  color: #fff;
}

.suggestion {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #fff;
}

.suggestion:hover {
  background-color: grey;
}

.suggestionContainer {
  z-index: 5;
  position: absolute;
  width: 100%;
}

.yellow {
  background-color: #f4e878;
}